{% extends "base.html" %}

{% block title %}Alumni Feedback - PRUTSIM{% endblock %}

{% block head %}
<script>
    window.location.href = 'https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdURE1UUkk3SlRPR0xKTUZVOFpPSlBKR1QwOCQlQCNjPTEu';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <p>If you are not redirected automatically, click <a href="https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdURE1UUkk3SlRPR0xKTUZVOFpPSlBKR1QwOCQlQCNjPTEu">here</a> to access the alumni feedback form.</p>
</div>
{% endblock %}
