{% extends "base.html" %}

{% block title %}Employer Feedback - PRUTSIM{% endblock %}

{% block head %}
<script>
    window.location.href = 'https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUQUZSTEo1NTNWQklJQzlYMUpTT1M1VzFZNCQlQCNjPTEu';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <p>If you are not redirected automatically, click <a href="https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUQUZSTEo1NTNWQklJQzlYMUpTT1M1VzFZNCQlQCNjPTEu">here</a> to access the employer feedback form.</p>
</div>
{% endblock %}
