{% extends "base.html" %}

{% block title %}Parent Feedback - PRUTSIM{% endblock %}

{% block head %}
<script>
    window.location.href = 'https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUM0lCT0UyWlkzWFU2RlpTWTY3VzdCRDM4SSQlQCNjPTEu';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <p>If you are not redirected automatically, click <a href="https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUM0lCT0UyWlkzWFU2RlpTWTY3VzdCRDM4SSQlQCNjPTEu">here</a> to access the parent feedback form.</p>
</div>
{% endblock %}
