{% extends "base.html" %}

{% block title %}Student Feedback - PRUTSIM{% endblock %}

{% block head %}
<script>
    window.location.href = 'https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUMzBKRlRXTjNGM1JOMENBOTNYTENMRkdTSyQlQCNjPTEu';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <p>If you are not redirected automatically, click <a href="https://forms.office.com/pages/responsepage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdUMzBKRlRXTjNGM1JOMENBOTNYTENMRkdTSyQlQCNjPTEu">here</a> to access the student feedback form.</p>
</div>
{% endblock %}
