{% extends "base.html" %}

{% block title %}Teacher Feedback - PRUTSIM{% endblock %}

{% block head %}
<script>
    window.location.href = 'https://forms.office.com/Pages/ResponsePage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdURTFJRUxIQklMU09NTE5HMDdEUzNRNUo0TyQlQCNjPTEu';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <p>If you are not redirected automatically, click <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=YKCmE75f10G7ASJLYcxMsNpobeoGw8xIkWSVFFDYMZdURTFJRUxIQklMU09NTE5HMDdEUzNRNUo0TyQlQCNjPTEu">here</a> to access the teacher feedback form.</p>
</div>
{% endblock %}
